*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #faf1f1;
}
ul {
  margin: 2px;
  padding: 2px;
}
ul li {
  font-size: 18px;
}
h2 {
  position: relative;
  color:#1e90ff;
}
h2::after {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  width: 100%;
  border-bottom: 1px solid;
}

.container {
  width: 1100px;
  margin: 10px auto;
  border-radius: 5px;
}
.header {
  background: #3498db;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  padding: 10px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.header-text {
  width: 30%;
  text-align: center;
  color: #fcf8e0;
}
.job {
  color: #d1ccc0;
}
.body {
  width: 100%;
  background-color: #3498db;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* profile */
.profile {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  width: 90%;
  margin-top: 20px;
  border-radius: 50%;
  border: 5px #0fbcf9 solid;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.image:hover {
  -webkit-transform: scale(1.08) ;
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.about-me {
  width: 90%;
  padding: 7px 7px;
  margin-top: 22px;
  background: #51828d;
  border-radius: 10px;
  font-size: 18px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fcf8e0;
  margin: 5px 0px;
}

.fas {
  width: 40px;
  text-align: center;
}

.favorite {
  width: 95%;
  padding: 10px 5px;
  margin-top: 20px;
  color: #fcf8e0;
}

.favorite h2 {
  color: #d6ed7a;
}
/* content */
.content {
  width: 70%;
  background: #fcf8e0;
  padding: 10px;
  padding-left: 20px;
  margin-top: -15px ;
  border-radius: 5px;
}

.detail {
  position: relative;
  margin: 10px 0px;
  padding-left: 10px;
}
/* icon */
.fa-calendar-alt::before {
  padding-left: 12px;
}
.fa-map-marker-alt::before {
  padding-left: 15px;
}
.p-icon {
  padding-left: 15px;
}
